body {
  background: #1C2840;
  font-family: 'Slabo 27px', serif;
  font-size: 1rem;
  text-align: center;
}

h1 {
  font-size: 2em;
  line-height: 1.25;
  color: #FF9933;
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 5em;
    line-height: 1.125;
    color: #FF9933;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 7em;
    line-height: 1.05;
    color: #FF9933;
  }

.footer {
	background: #FF9933;
}