body {
  background: #FFFFE0;
  font-size: 14px;
  text-align: center;
}

h1 {
	font-size: 7rem;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	color: #47D1FF;
}

.thinh1 {
	font-weight: 100;
}

.content {
	margin: 0 auto;
	left: 50%;
	width: 600px;
	text-align: left;
	border-top: 1px solid #47D1FF;
}

h2 {
	font-size: 2rem;
	font-family: 'Arvo', serif;
	color: #383838;
}